.state{
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  margin: 50px;
  border: 1px solid #000;
  background-color: rgb(8, 168, 183);
}

.effect{
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  margin: 50px;
  border: 1px solid #000;
  background-color: rgb(42, 123, 177);
}

.memo{
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  margin: 50px;
  border: 1px solid #000;
  background-color: rgb(75, 127, 130);
}

.callback{
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  margin: 50px;
  border: 1px solid #000;
  background-color: rgb(166, 249, 255);
}

button{
  color: black;
  background-color: rgba(57, 114, 54, 0.68);
  border: none;
  margin: 10px;
  border-radius: 4px;
  padding: 10px 15px;
}